%h3 Random:
= link_to "#{@random_list.name}: ", @random_list
= link_to @random_list_random_item.try(:name), @random_list_random_item.try(:url), :target => "_blank"

%h3 Favourites:
- current_user.favourite_lists.each do |list|
  = link_to "#{list.name}: ", list
  - random_item = list.random_item
  = link_to random_item.try(:name), random_item.try(:url), :target => "_blank"

%h3 Add New List:
= form_for @new_list do |f|
  = f.text_field :name, :placeholder=>"Add new list...", :id=>"new-list-input"

%table{:class=>"table"}
  - @lists.each do |list|
    %tr
      %td= link_to list.name, list